<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block title %}
    <title>Sale konferencyjne</title>

    {% endblock %}
</head>
<body>
<h3>ZAREZERWUJ SALĘ KONFERENCYJNĄ</h3>

        {% block content %}

        {% endblock %}
<footer>
   <p><a href="{% url 'rooms' %}">Lista sal</a> | <a href="{% url 'new' %}">Dodaj salę</a> | <a href="{% url 'search' %}">Znajdź salę</a></p>
</footer>
<script type="text/JavaScript" src="{% static 'app.js' %}"></script>
</body>
</html>