{% extends "base.html" %}

{% block content %}

<h4>SZCZEGÓŁY SALI</h4>
    <table border="1px">
    <tr><th>Nazwa</th><th>Ilość miejsc</th><th>Projektor</th><th>Rezerwacje</th><th>Zarezerwuj</th></tr>
		<tr>
			<td>{{ room.name }}</td>
			<td>{{ room.seats }}</td>
			<td>{{ room.projector|yesno:"Tak,Nie" }}</td>
			<td> {% for a in res %}
					{{ a.date |date:'d-m-Y'}}
				{% endfor %}
			</td>
			<td class="link"><a href="/reservation/{{room.id}}">Zarezerwuj</a></td>

		</tr>

</table>


{% endblock %}